@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }
  body footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em; }
    body footer .footerElt {
      padding-left: 20px; }
    body footer .footerElt:last-child {
      display: flex;
      justify-content: right;
      padding-right: 20px; }
      body footer .footerElt:last-child .footerLink:last-child {
        margin-left: 20px; }

/*# sourceMappingURL=style.css.map */
