@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;

    .footerElt {
      padding-left: 20px;
    }

    .footerElt:last-child {
      display: flex;
      justify-content: right;
      padding-right: 20px;

      .footerLink:last-child {
        margin-left: 20px;
      }
    }
  }
}